<div class="tab-panel container">

  <tabset>
    <tab heading="About Me" id="tab1">
      <app-about-me></app-about-me>
    </tab>
    <tab heading="Projects" id="tab1">
      <app-projects></app-projects>
    </tab>
    <tab heading="Education">
      <app-education></app-education>
    </tab>
    <tab heading="Work History">
      <app-work-history></app-work-history>
    </tab>
    <tab heading="Volunteer Work">
      <app-volunteer-work></app-volunteer-work>
    </tab>
    <tab heading="Contact">
      <app-contact></app-contact>
    </tab>
  </tabset>
</div>