<div class="container">
  <div class="card">
    <div class="card-body">
      <h4>Skills</h4>
      <ul>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Angular 6</li>
        <li>C#</li>
        <li>Asp.Net</li>
        <li>MVC</li>
        <li>Entity Framework</li>
        <li>EF Core</li>
        <li>LINQ</li>
        <li>JQuery</li>
        <li>React.js</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>SQL</li>
        <li>SQL Server</li>
        <li>Firebase</li>
        <li>MongoDb</li>
        <li>Postman</li>
        <li>WordPress.org</li>

      </ul>
    </div>
  </div>
</div>